<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Url</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${repos.empty}">
        <td colspan="2"> No Repos Available</td>
    </tr>
    <tr th:each="repos : ${repos}">
        <td><span th:text="${repos.name}">Name</span></td>
        <td><span th:text="${repos.url}">Url</span></td>
        <td><a th:href="@{/repo/{repo_name}(repo_name = ${repos.name})}">View</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>